/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* CSS Variables */
:root {
    --primary-font: "Poppins", system-ui;
    --secondary-font: "Aboreto", cursive;
    --primary-color: #50443a;
    /* dark brown */
    --secondary-color: #e0d5d2;
    /* light brown */
    --highlight-color: #928177;
    /* middle brown */
    --second-highlight-color: #a3a4a2;
    /* grey/blue */
    --accent-color: #d98e37;
    /* gold */

}

/* Global styles */

body {
    font-family: var(--primary-font);
    font-weight: 300;
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color)
}

strong {
    font-weight: 600;
    color: var(--primary-color)
}

.section {
    padding-top: 4rem;
    margin-bottom: 2rem;
}


.custom-btn {
    background-color: var(--accent-color);
    color: #110E0C;
    box-shadow: 1px 1px 11px -2px rgba(80, 68, 58, 0.34);
    -webkit-box-shadow: 1px 1px 11px -2px rgba(80, 68, 58, 0.34);
    -moz-box-shadow: 1px 1px 11px -2px rgba(80, 68, 58, 0.34);

}

.custom-btn:hover {
    background-color: #c68030;
}

.custom-btn-hero {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 1px 1px 11px -2px rgba(80, 68, 58, 0.582);
    -webkit-box-shadow: 1px 1px 11px -2px rgba(80, 68, 58, 0.582);
    -moz-box-shadow: 1px 1px 11px -2px rgba(80, 68, 58, 0.582);

}

.custom-btn-hero:hover {
    background-color: #bcb3b0;
}


/* Navbar */
#navbar {
    background-color: var(--secondary-color);
    font-family: var(--secondary-font);
}

#navbar a {
    color: var(--primary-color);
}

#navbar a:hover {
    color: #2d251f;
    font-weight: bold;
    transition: 0.2s ease-in;
}



#navbar .active {
    font-weight: bold;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: var(--primary-color);
}

/* Headers */

#hero {
    height: 500px;
    width: 100%;
    background: url("../images/hero-index.jpg") no-repeat 85% 100%/cover;
}

.hero-text {
    position: relative;
    margin: 5px;
    top: 73%;
    font-size: 20px;
    color: var(--secondary-color);
    border-radius: 6px;
}

.hero-text p {
    text-shadow: 0px 1px 10px rgb(13, 11, 10);
}

#hero-adopt {
    height: 500px;
    width: 100%;
    background: url("../images/adopt-rehome.jpg") no-repeat top center / cover;
}



/* Main */

/* Our mission */

#about .card {
    border: none;
}

#about .circle-background {
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 30px;
}

#about .card-body {
    height: 100%;
}



/* Preparation  */
#preparation {
    height: 100%;

}


/* Adoption - Homepage */

#adopt {
    padding-top: 20px;
    background-color: var(--second-highlight-color);
    height: 100%;
    padding-bottom: 160px;
}

.carousel-caption {
    bottom: 0px;
    left: 0px;
    height: 20%;
    width: 100%;
    color: white;
    text-shadow: 0px 1px 10px rgba(49, 42, 37, 1);
}

/* Adopt page */
/* Adoption & Rehopming section */
#adopt-ready {
    background-color: var(--second-highlight-color);
    height: 100%;
    padding-bottom: 140px;
}

/* Flip cards by Nicolas Kadis */


input[type='checkbox'] {
    display: none;
}

/* Flip Cards CSS */
.card-container {
    display: grid;
    perspective: 700px;
}

.card {
    border-radius: 20px;
    padding: 10px;
    color: var(--primary-color)
}

.card-img-top {
    border-radius: 20px;
}

.card-flip {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.7s ease;
}

.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.front {
    grid-area: frontAndBack;
    background-color: transparent;
    border: none;
}

.back {
    grid-area: frontAndBack;
    transform: rotateY(-180deg);
}

input[type='checkbox']:checked+.card-container .card-flip {
    transform: rotateY(180deg);
}


/* Pro tips section */
#pro-tips {
    min-height: 500px;
}




/* Contact page */
#contact-us {
    color: var(--primary-color)
}

#contact-us input,
#contact-us textarea {
    border: 1px solid #50443a;
}

#contact-us input:focus,
#contact-us textarea:focus {
    border: 2px solid #50443a;
    outline: none !important;
}

/* Make radio buttons accent-color */
.form-check-input:checked {
    filter: invert(59%) sepia(81%) saturate(395%) hue-rotate(350deg) brightness(88%) contrast(92%);
    ;
}





/*Success page */
#success {
    min-height: 500px;
}

/* Thank you page */

.thankyou {
    width: 500px;
    aspect-ratio: 1;
    object-fit: cover;
    --_m: radial-gradient(#000 69%, #0000 70%) 84.5%/50%;
    -webkit-mask-box-image: var(--_m);
    mask-border: var(--_m);
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);

}




/* Footer */

/* Contact */

#footer {
    background-color: var(--secondary-color);
    position: relative;
}


#footer h2 {
    padding-top: 90px;
}

#footer #form-link {
    text-decoration: underline;
    color: var(--primary-color);

}

#footer #form-link:hover {
    color: var(--accent-color);
    font-weight: 400;

}

#support i {
    font-size: 1rem;
    color: var(--primary-color)
}

#footer .social-links i {
    font-size: 2rem;
    color: var(--primary-color);
}

#footer .social-links i:hover {
    font-size: 2.3rem;
    color: var(--accent-color);
    transition: 0.2s ease-in-out;
}

#footer em a {
    font-size: 14px;
    color: var(--highlight-color);
    text-decoration: none;
}




/* Shape dividers */
.divider-top {
    padding-top: 100px;
    position: relative;
}

.divider-bottom {
    position: relative;
}

/* Greyblue divider */
.custom-shape-divider-bottom-1753259828 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1753259828 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 106px;
}

.custom-shape-divider-bottom-1753259828 .shape-fill {
    fill: #a3a4a2;
}

/* White divider */
.custom-shape-divider-bottom-1753261175 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1753261175 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 106px;
}

.custom-shape-divider-bottom-1753261175 .shape-fill {
    fill: #FFFFFF;
}

/* Footer divider */
.custom-shape-divider-top-1753424451 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1753424451 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1753424451 .shape-fill {
    fill: #FFFFFF;
}

/* Media queries */

/* Media query: tablet and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Hero image */
    #hero {
        height: 600px;
        width: 100%;
        background-position: 100% 40%;
    }

    .hero-text {
        position: relative;
        top: 40%;
        left: 3%;
        font-size: 24px;
        color: var(--secondary-color);
    }

    #hero-adopt {
        height: 600px;
    }

    #about .card-text {
        min-height: 90px;
    }

    /* Footer */
    #footer h2 {
        padding-top: 60px;
    }
}

/* Media query: laptop and larger (992px and up) */
@media screen and (min-width: 992px) {

    /* Navbar */
    #navbar a {
        font-size: 1.5rem;
    }

    .nav-item {
        margin: 0px 20px;
    }

    #about .card-text {
        min-height: 100px;
    }

    /* Hero image */
    .hero-text {
        position: relative;
        top: 40%;
        left: 8%;
        font-size: 24px;
        color: var(--secondary-color);
    }




}